<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./css/user.css">
        <script type="text/javascript" src="./js/jquery.min.js"></script>
        <script type="text/javascript" src="./js/html5shiv.js"></script>
        <script type="text/javascript" src="./js/size.js"></script>
        <script type="text/javascript" src="./js/ng/angular.min.js"></script>
       	<script type="text/javascript">
        	var vm=angular.module('backupApp',[]).run(function($rootScope){
        		$rootScope.backup= true;
        	});
        </script>
        <script type="text/javascript" src="./js/component/loginout.js"></script>
        <script type="text/javascript" src="./js/component/menu.js"></script>
        <script type="text/javascript" src="./js/other/back.js"></script>
	</head>
    <body ng-app='backupApp'>
        <header class="header" ng-include="'./component/header.html'" ng-controller='logList'></header>
        <section class="main">
            <div class="container">
                <aside class="menu_box" ng-include="'./component/menu.html'" ng-controller='menuList'></aside>
                <section class="section-box" ng-controller="backupList">
                    <div class="mp_news__box">
                        <div class="title_bar">数据备份</div>
                        <table class="uname_bar">
							<thead>
								<tr>
									<th>数据名</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="data in sql track by $index">
									<td ng-bind="data[0]"></td>
									<td>
										<input type="button" value="下载" ng-click="upload(data[0],data[1])"/>
									</td>
								</tr>
							</tbody>
						</table>
                    </div>
				</section>
            </div>
        </section>
        <footer class="footer" ng-include="'./component/footer.html'"></footer>
    </body>
</html>